.loan-details-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f4;
  border-radius: 12px;
  padding: 20px;
}

.loan-details-group {
  display: flex;
  align-items: center;
}

.loan-details-title {
  font-family: "Montserrat-SemiBold", sans-serif;
  color: #111827;
  font-size: 1.125rem;
  margin: 0;
}

.loan-details-form,
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
}

.form-group-two-columns {
  display: flex;
  gap: 10px;
}

.loan-details-label {
  font-family: "Montserrat-SemiBold", sans-serif;
  color: #4d5664;
  font-size: 0.875rem;
}

.loan-details-input {
  height: 30px;
  width: 100%;
  border-radius: 8px;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 0.875rem;
  padding: 0 8px;
  border: 1px solid #d1d5db;
}

.loan-details-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.button-generate,
.button-generate-disabled,
.button-restart,
.button-restart-disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 190px;
  height: 50px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 0.875rem;
  color: #111827;
  background: #5dae21;
  border: none;
  border-radius: 12px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.button-generate-disabled,
.button-restart-disabled {
  background: #d1d5db;
  pointer-events: none;
  opacity: 0.6;
}

.button-restart {
  background: #f8d919;
}

.button-generate:hover,
.button-restart:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .loan-details-container {
    width: 100%;
  }
}
